//
// Controls used in Forms
// --------------------------------------------------
input,
textarea {
  padding: .5rem;
  margin-bottom: .5rem;
  display: block;
  width: 100%;
  box-shadow: none;
  border: thin solid color("grey");
  outline: none;
}

input[type="submit"] { margin-top: .85rem; }

.field-wrap{
  &.error input {
    border-color: #E74C3C;
  }
  &.valid input {
    border-color: #2ECC71;
  }
}